@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
@font-face {
   font-family: "selima";
   src:url("./fonts/selima.woff") format("woff");
}
@-webkit-keyframes slide-right {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }
}
@keyframes slide-right {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }
}
body{
    background: url('../image/leavesbg.png') no-repeat top fixed;
    font-family: Lora;
    font-weight:600;
    font-size:large;
    color: #3B2722;
    
    
}
#logo{
    text-align: center;   
    font-family: "selima";
    font-size: xxx-large;
    color: #766E95;
}

.nav li a{
	text-decoration: none;
	border: 1px;
	border-radius: 5px;
	font-weight: 500;
    font-size: x-large;
    text-align: center;
	
	
}
.fixed-top{
    padding-left:20%;
    
}
.landing {
    width:100%;
    height:20em;
    background-color: whitesmoke;
    margin-top:2.5%;   

}
.form-control{
    width:50% !important;
}
form input, textarea{
    margin:auto !important;
}
.slide-right {
	-webkit-animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

